.vimrc
*.swp
*~
*.asv
*.m.orig
*.DS_Store
*.fig
*.pdf
*.eps
*.mov
*.mp4
*.emf
*.pptx
*.jpg
*.jpeg
*.mat
*.dat
*.mod
*.h5
*.o
*.a
*.png
logs/
results/
results_old/
mod/
obj/
bin/
wk/fort*.90
.directory
checkpoint/
FM/
iCa/
*.out
src/srcinfo.h
src/srcinfo/srcinfo.h
fort*.90
local/
*.sh
Gallery/
