.vimrc
*.swp
*~
*.asv
*.m.orig
*.DS_Store
*.fig
*.pdf
*.eps
*.mov
*.mp4
*.emf
*.pptx
*.jpg
*.gif
*.jpeg
*.mat
*.dat
*.mod
*.h5
*.o
*.a
*.png
logs/
results/
results_old/
mod/
obj/
bin/
wk/fort*.90
.directory
checkpoint/
FM/
iCa/
*.out
src/srcinfo.h
src/srcinfo/srcinfo.h
local/
*/*.sh
Gallery/
.vscode/settings.json
*figure*
results*
out*
!scripts/*
*.avi
gyacomo
gyacomo_dbg
gyacomo23*
wk/parameters/profiles
local/dirs.inc
simulations
__pycache__
lib