.vimrc
*.swp
*~
*.asv
*.m.orig
*.DS_Store
*.fig
*.pdf
*.eps
*.mov
*.mp4
*.emf
*.pptx
*.jpg
*.gif
*.jpeg
*.mat
*.dat
*.mod
*.h5
*.o
*.a
*.png
*.txt
logs
results
results_old
mod
obj
bin
testcases
Gallery
iCa
demo
simulations
lib
__pycache__
src/srcinfo
wk/parameters/profiles
*results*
.directory
srcinfo.h
.vscode